.input-container {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  
  label {
    text-align: right;
    font-size: 1.25rem;
    margin-bottom: 5px;
    display: block;
  }

  input {
    padding: 0.375rem 0.75rem 0.375rem calc(24px + (0.75rem));
    text-align: right;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    max-width: 120px;
    box-sizing: border-box;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: black;

    &:focus {
      outline-width: 0;
    }
  }

  

  .placeholder {
    position: absolute;
    height: calc(24px + (0.75rem));
    width: calc(24px + (0.75rem));
    left: 1px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: black;
    svg {
      height: 24px;
      width: 24px;
      fill: white;
    }
  }
}


.time {
  min-height: 100px;
  width: 230px;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  position: absolute;
  right: -15px;
  top: calc(24px + (0.75rem) + 1.75rem + 9px + 10px);
  z-index: 999;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

.time::after {
  --scale: 1;
  --arrow-size: 10px;
  --tooltip-color: white;

  position: absolute;
  right: 95px;
  transform: translateX(var(--translate-y, 0)) translateY(-50%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: right center;
}

.time::after {
  --translate-y: calc(-1 * var(--arrow-size) - 1px);

  content: '';
  border: var(--arrow-size) solid transparent;
  transform-origin: left center;

  top: -10px;
  border-bottom-color: var(--tooltip-color);
}

.selector-container {
  width: 70px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;


  input {
    padding: 0;
    margin: 0 auto;
    text-align: right;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    max-width: 40px;
    box-sizing: border-box;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: black;
    text-align: center;

    &:focus {
      outline-width: 0;
    }
  }

  .icon {
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    svg {
      cursor: pointer;
      height: 20px;
      width: 20px;
      fill: #2A2D9E;
    }
  }

  .up {
    align-items: flex-start;
  }

  .down {
    align-items: flex-end;
  }
}