.host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition-property: width;
  transition-duration: 0.5s;
  z-index: 999;
  border: 0 solid rgba(87, 87, 86, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 8%);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 8%);
  border-left-width: 1px;
}

.light {
  background: #A9A9A9;
  color: #111;
  svg {
    fill: #111;
  }
  .header {
    background: white;
  }
  .footer {
    background: white;
  }
}

.dark {
  background: #111;
  color: white;
  svg {
    fill: white;
  }
  .header {
    background: #222;
  }
}

h2 {
  cursor: default;
}

.open {
  width: 18.75rem;
}

.close {
  width: 3.75rem;
}

.close .theme-container {
  display: none;
}

.hover {
  box-shadow: 0 0 0 100vmax rgb(0 0 0 / 30%);
}

.close h2, .close h3 {
  display: none;
}

.close ul {
  margin-right: 0;
}

.img {
  height: 2.5rem;
}

.img svg {
  height: 2.5rem;
  width: 2.5rem;
}

.header {
  width: 100%;
  height: 3.75rem;
  padding: 0.625rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.header .menu-icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  float: right;
  cursor: pointer;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0.625rem 0.625rem 0.625rem 0;
  padding-right: 0;
}

li {
  white-space: nowrap;
  margin-bottom: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.open li:hover {
  transform: translate(-0.4rem);
}

li .img {
  display: inline-block;
  vertical-align: top;
}

li h3 {
  display: inline-block;
  margin: 0.625rem 0.625rem 0 0;
  vertical-align: top;
}


.content {
  position: absolute;
  padding: 0.625rem;
  box-sizing: border-box;
  top: 3.75rem;
  width: 100%;
  height: calc(100vh - 7.5rem);
  direction: rtl;
  text-align: right;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.footer {
  width: 100%;
  height: 3.75rem;
  background: #222;
  position: absolute;
  bottom: 0;
  padding: 0.625rem;
  box-sizing: border-box;
  .img {
    width: 60px;
    position: absolute;
    left: 10px;
  }
}


.switch {
  --scale-switch: 1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  bottom: 80px;
  z-index: 2;
  transform: scale(var(--scale-switch));
  transition: 1s transform;
  transform-origin: bottom center;
}

.theme-container {
  position: absolute;
  height: 60px;
  width: 80px;
  right: 0;
  bottom: 0;
}

.switch-container {
  border: 1px solid black;
  position: relative;
  border-radius: 100px;
  margin: auto;
  height: 30px;
  width: 60px;
  cursor: pointer;
  .swith-button {
    display: flex;
    align-items: center;
    justify-content: center;
    --left: 0;
    left: var(--left);
    position: absolute;
    height: 28px;
    width: 28px;
    top: 0;
    border-radius: 100%;
    transition-duration: 0.5s;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .left {
    background: black;
    svg {
      fill: white;
    }
  }
  .right {
    background: white;
    svg {
      fill: black;
    }
    --left: 30px;
  }
}
