.stepper-component {
  height: 100px;
  width: 100%;
  background: white;
}

.stepper-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper {
  height: 60px;
  width: 60%;
  padding: 10px;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: stretch;
  .step {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color;
    transition-duration: 350ms;
    svg {
      display: none;
      width: 15px;
      height: 15px;
      fill: white;
    }
  }
  .spacer {
    flex-grow: 2;
    height: 2px;
    background: lightgray;
    transition: background;
    position: relative;
  }
  .circle {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2A2D9E;
    transform: scale(0);
    transition-duration: 350ms;
    transition-timing-function: linear;
  }
  .circle-active {
    transition-delay: .5s;
    transform: scale(.4);
  }
  .step-current {
    transition-delay: .5s;
    border-color: #2A2D9E;
  }
  .step-active {
    border-color: #2A2D9E;
    background: #2A2D9E;
    svg {
      display: block;
    }
  }
  .spacer-active {
    background: #2A2D9E;
  }
  .spacer-current {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #2A2D9E;
  }
  .spacer-current-active {
    transition: width .5s;
    width: 100%;
  }
}

.body {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}