/**  =====================
      Data Tables css start
==========================  **/
$theme-border: #eaeaea;
$primary-color: #04a9f5;
$dark-color: #37474f;
.table {
  color: #888;
  direction: rtl;
  td,
  th {
    border-top: 1px solid $theme-border;
    white-space: nowrap;
    padding: 1.05rem 0.75rem;
    text-align: right;
    white-space: pre-wrap
  }

  thead th {
    border-bottom: 1px solid $theme-border;
  }

  tbody + tbody {
    border-top: 2px solid $theme-border;
  }

  img {
    max-height: 50px;
  }

  button {
    border-style: none;
    padding: .375rem .75rem;
  }

  .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30px;
    svg {
      cursor: pointer;
      height: 30px;
      width: 30px;
    }
  }

  &.table-sm {
    th,
    td {
      padding: 0.35rem;
    }
  }
  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}
/* Border versions */

.table-bordered {
  border: 1px solid $theme-border;

  td,
  th {
    border: 1px solid $theme-border;
  }
}
/* Zebra-striping */

.table-striped {
  tbody tr:nth-of-type(2n + 1) {
    background-color: transparentize($primary-color, 0.95);
  }
}
/* Hover effect */

.table-hover {
  tbody tr {
    &:hover {
      background-color: transparentize($primary-color, 0.95);
    }
  }
}
/* Table backgrounds */

.table {
  .thead-dark {
    th {
      color: #fff;
      background-color: $dark-color;
      border-color: darken($dark-color, 10%);
    }
  }
}

.table-dark {
  color: #fff;
  background-color: $dark-color;

  td,
  th,
  thead th {
    border-color: darken($dark-color, 10%);
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: darken($dark-color, 2%);
    }
  }

  &.table-hover {
    tbody tr {
      &:hover {
        background-color: darken($dark-color, 5%);
      }
    }
  }
}
/* fixed header position */

table.dataTable.fixedHeader-floating {
  top: 0 !important;
  @media screen and (max-width: 992px) {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .fixedHeader-locked {
    display: none !important;
  }
}

/*   header  */

.header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  .search {
    width: 60%;
  }
  .sort {
    width: 40%;
    padding: 0 10px 0 0 ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    .text {
      white-space: nowrap;
      width: max-content;
      padding-left: 5px;
    }
    .form-select {
      background-position: left .75rem center;
      padding: .375rem .75rem .375rem 1.75rem
    }
    select {
      border-color: black;
      direction: rtl;
    }
  }
}
.info-div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  .info {
    height: 100px;
    min-width: 100px;
    margin: 0 20px;
    h1 , h4 {
      text-align: right;
    }
    h1 {
      color: $dark-color
    }
    h4 {
      color: $primary-color
    }
  }
  .info:last-child {
    margin: 0 20px 0 0;
  }
  .info:first-child {
    margin: 0 0 0 20px;
  }
  .line {
    width: 1px;
    height: 100px;
    background: $dark-color;
  }
}
@media (max-width: 800px) {
  .header {
    .search {
      width: 100%;
    }
    .sort {
      width: 100%;
      padding: 0;
    }
  }
}

/**  =====================
      Foo-table css start
==========================  **/

.footable .pagination > {
  .active > {
    a,
    span {
      background-color: $primary-color;
      border-color: $primary-color;

      &:focus,
      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }

  li > {
    a,
    span {
      color: #222;
    }
  }
}

.footable-details.table,
.footable.table {
  margin-bottom: 0;
}

table {
  &.footable > tfoot > tr.footable-paging > td > span.label {
    margin-bottom: 0;
  }

  &.footable-paging-center > tfoot > tr.footable-paging > td {
    padding-bottom: 0;
  }
}

.table-columned > {
  tbody > {
    tr > {
      td {
        border: 0;
        border-left: 1px solid $theme-border;
      }

      th {
        border: 0;
      }
    }
  }
}

.cursor {
  cursor: pointer;
}
/**====== Foo-table css end ======**/
.footer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .total {
    width: 30%;
    text-align: right;
  }
  nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selecter {
    width: 30%;
    select {
      width: 50%;
      float: left;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    .total {
      width: 50%;
    }
    nav {
      width: 100%;
      order: -1;
    }
    .selecter {
      width: 50%;
    }
  }
}

.pagination-custom {
  display: flex;
  padding: 0;
  margin: 0 40px;
  .placeholder {
    height: 20px;
    width: 20px;
    svg {
      vertical-align: top;
      fill: $dark-color;
    }
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
    margin: 5px;
    color: $dark-color;
    font-weight: bold;
  }
  li:last-child {

  }
  li:first-child {

  }
  li:not(:first-child) {

  }
  .disabled {

  }
  .selected {
    background: $primary-color;
    color: white;
  }
  li:hover:not(.selected):not(.disabled) {
    background: $theme-border;
    cursor: pointer;
  }
}

/**====== Data Tables css end ======**/

@media (max-width: 600px) {
  .hide {
    display: none;
  }
}
