nav {
  height: 4rem;
  width: 100%;
  background: white;
  z-index: 999;
  padding: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;

  .ripple {
    background-position: center;
    transition: background 0.4s;
  }

  .ripple:hover {
    background: #F8F9FC radial-gradient(circle, transparent 1%, #F8F9FC 1%) center/15000%;
  }

  .ripple:active {
    background-color: #979797;
    opacity: 0.1;
    background-size: 100%;
    transition: background 0s;
  }

}


nav .icons {
  height: 100%;
  width: fit-content;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      fill: #979797;
      opacity: 0.7;
      // fill: #4674F4;
      height: 25px;
      width: 25px;
    }
  }

  .icon:not(:last-child) {
    margin-right: 10px;
  }

  span {
    top: 0;
    right: 0;
    transform: scale(1) translate(15%, -15%);
    transform-origin: 100% 0;
    color: white;
    background-color: #4674F4;
    height: 20px;
    display: flex;
    padding: 0 6px;
    z-index: 1;
    position: absolute;
    flex-wrap: wrap;
    font-size: 0.75rem;
    min-width: 20px;
    box-sizing: border-box;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    align-items: center;
    font-weight: 500;
    line-height: 1;
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
  }
}

nav .line {
  height: 70%;
  width: 0.75px;
  background: #979797;
  opacity: 0.3;
}

nav .user {
  margin: 0 20px;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .dropdown {
    height: 25px;
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    svg {
      height: 15px;
      width: 15px;
      fill: #979797;
      opacity: 0.7;
    }
  }

  img {
    margin: 0 10px 0 5px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: fill;
  }

  .info {
    height: 50px;
    max-width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .info h6, .info p {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .info h6 {
    color: #262626;
  }

  .info p {
    color: #979797;
  }

}


nav .search {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  .search-container {
    min-width: 60%;
    // min-width: 10rem;

  }

  .search-icon {
    display: none;
    height: 100%;
    width: 40px;
    align-items: center;
    justify-content: center;
    svg {
      fill: #979797;
      opacity: 0.9;
      // fill: #4674F4;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) {
  nav .search {

    .active {
      display: block;
      position: absolute;
      top: 100%;
      right: -20px;
      background: white;
      z-index: 999;
      width: calc(100vw - 60px);
      padding: 0 10px;
    }

    .deactive {
      display: none;
    }
  
    .search-icon {
      display: flex;
    }
  }
}

@media (max-width: 500px) {

  nav .user {
    margin: 0 10px;
  
    .info {
      display: none;
    }  
  }

}
