:host {
  text-align: center;
  display: block;
  direction: rtl;
}

:host .input-container {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  display: block;
  margin-bottom: 5px;
}

:host .input-container .img {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: calc(.75rem + 1px);
  bottom: calc(.375rem + 1px);
  border-radius: 50%;
}

.img svg {
  width: 1.5rem;
  height: 1.5rem;
}

:host .input-container .control {
  position: absolute;
  left: 3rem;
  bottom: calc(.375rem + 0.75rem - 0.25rem);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transition: transform 300ms ease-in-out;
}

:host label {
  text-align: right;
  font-size: 1.25rem;
  margin-bottom: 5px;
  display: block;
}

:host input {
  padding: .375rem .75rem .375rem calc(.75rem  + 3rem);
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
}

:host input:focus {
  outline-width: 0;
}

:host span {
  display: block;
  margin: auto;
  text-align: right;
  font-size: 1.1rem;
  color: #B22222;
  width: 95%;
}
