.form-container {
  direction: rtl;
  width: 100%;
  height: fit-content;
}

.width10 {
  width: 10px;
}

.submit-button-container {
  display: block;
  float: left;
  margin-top: 10px;
}

a {
  text-decoration: none !important;
  display: block;
  margin: auto;
  text-align: right;
  font-size: 1.1rem;
  width: 95%;
  color: #007bff !important;
  text-decoration: none;
  background-color: transparent;
}

.checkbox-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 1px;
  margin-bottom: 5px;

  label {
    text-align: right;
    font-size: 1.25rem;
    height: 100%;
    color: #666666;
  }
}