.form-container {
  direction: rtl;
  width: 100%;
  height: fit-content;
}

.width10 {
  width: 10px;
}

.submit-button-container {
  display: block;
  float: left;
  margin-top: 10px;
}

a {
  text-decoration: none !important;
  padding-right: 0.75rem;
}